<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>众筹详情</title>
    <meta name="DESCRIPTION" content="{{meta_desc}}"/>
    <meta name="KEYWORDS" content="{{meta_keywords}}"/>
</head>
<body>
  <!-- 页首导航栏 -->
<div class="header"> 
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="./base.html">
            <img src="../static/img/LOGO.jpg" alt="Logo" style="width:80px;" >
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">主页</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">赛事</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">往期赛事</a></li>
                  <li><a class="dropdown-item" href="#">当期赛事</a></li>
                  <li><a class="dropdown-item" href="#">发起赛事</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">论坛</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">赛事话题</a></li>
                  <li><a class="dropdown-item" href="#">闲聊杂谈</a></li>
                  <li><a class="dropdown-item" href="#">发布帖子</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">众筹</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">众筹列表</a></li>
                  <li><a class="dropdown-item" href="#">发起众筹</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">帮助</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">常见问题</a></li>
                  <li><a class="dropdown-item" href="#">会员体系</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./login.html">登录</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./register.html">注册</a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link-my-avater" href="#" role="button" data-bs-toggle="dropdown">
                  <img src="../static/img/我的头像.jpg" alt="Logo" style="width:40px;" class="rounded-pill">
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">我的主页</a></li>
                  <li><a class="dropdown-item" href="#">我的消息</a></li>
                  <li><a class="dropdown-item" href="#">登出账号</a></li>
                </ul>
              </li> -->

            </ul>
          </div>
        </div>
      </nav>
    </div>


    <div class="body_container">
        <div class="base-layout">
                      <!-- 左侧内容 -->
          <div class="layout-main">
            <div class="article-list-container">
                <div class="article-list-body">
                  <div class="article-card">
                    <div class="article-card-title">
                        <h2 class="article-card-h1" title="预热3.2深渊——长野原杯宵宫赛道">【众筹开启】预热3.2深渊——长野原杯 宵宫赛道</h2>
                        </div>
                        <div class="article-card-footer">
                            <div class="mmv-topic-label-selector mmv-article-card__topics">
                              <div class="mmv-topic-label-selector__item">
                                <a href="" class="mmv-topic-label-selector__link" target="_blank">
                                  <span>宵宫</span>
                                </a>
                              </div>
                            </div>
                            <div  class=article-card-data>
                            <div class="article-card-data-item">
                              <i class="mmv-icon iconfont icon-liulanshu"></i>
                              <span>9万+</span>
                            </div>
                            <!-- <div class="article-card-data-item">
                              <i class="mmv-icon iconfont icon-liuyanshu"></i>
                              <span>2269</span>
                            </div> -->
                            <div class="article-card-data-item">
                              <i class="mmv-icon iconfont icon-dianzan"></i>
                              <span>2579</span>
                            </div>
                          </div>
                          </div>
                        <!-- <div class="article-page-updatetime">
                            <span>发布时间：2022.09.20</span>
                        </div> -->
                        <div class="race-content">
                            <div class="content-details">
                              <br>
                              宵宫迎来第二次复刻！遂打算举办一次比赛庆祝<br>
                              以下是目前的赛制打算，还没有正式发布，欢迎有兴趣的小伙伴加群探讨！（点击“参与众筹”可以看到群号）<br>
                              <b>活动日期：</b>11.16～11.30也就是第一期新深渊<br>
                              <b>赛道设置：</b>1金 8金 16金 无限制金数赛道<br>
                              <br>
                              <b>比赛要求：</b><br>
                              3.2下半三间连打，可跳秒可时停可上半偷球(仅允许单e)，同时间取成本低者排名靠前<br>
                              禁止夜兰“取胜者，大小通吃”，金数记作5命金数，且禁止3命(不包含3命)以下宵宫配队3命及以上夜兰<br>
                              禁止四命及以上霜灭打工<br>
                              班尼特携带非输出装时，无论武器精几均仅视作1金(防止有人只有一把精五雾切不能带)，暗巷闪光算1金<br>
                              常驻角色例如琴莫娜，仅按照有效命座记金数，天赋+3默认无用<br>
                              由于非一镜，可蹲buff，双爆/40攻视作2金，20攻/80精视作1金，其余不算成本<br>
                              一个账号一位选手只允许参赛一次<br>
                              <b>比赛奖励：</b><br>
                              四个赛道各：冠军648 亚军328 季军198 4～6名128 7～10名68  <br>
                              1 8 16赛道追加11～20名30 <br>
                              目前奖池：困佬赞助5k 陈大侠赞助低金1 8 16金赛道1500(鼓励大众玩家)困佬追加3000！lz赞助621 欢迎各位积极参与赞助发电，奖金视最终总赞助金额可以适当提高，有意赞助者也可b站私信lz，赞助者及金额都会公开<br>
                              <br>
                              欢迎各位原友积极参与<br>
                          </div>
                        </div>
                        </div>
                    </div>


                      </div>        
        </div>
        <div class="sub-layout">

          <!-- 作者 -->
           <div class="article-page-author">
             <a href="#" target="_blank">
                <div class="article-poster-avatar">
                    <img src="../static/img/我的头像.jpg" alt="纯爱战士">
                 </div>
              </a>
              <div class="article-poster-info">
                 <a href="#" target="_blank">
                   <span>纯爱战士</span>
                 </a>
              </div>
            </div>
             <!-- 右侧发布栏 -->
     <div class="home-post">
       <div class="home-post-header">互动</div>
       <div class="home-post-block">
         <p><button class="w3-button w3-yellow">参与众筹</button></p>
         <p class="home-post-explain">帮助小伙伴为你喜欢的角色组织比赛</p>
       </div>
     </div>
             </div>

          
      </div>

        </div>



<!-- 页脚 -->
<div class="footer">
<div class="layout footer__inner">
    <div class="footer__copyright">
      <p>和谐社区，文明发言，谨防电信诈骗</p>
      <p class="copyright text-muted">Copyright &copy; Your Website 2021</p>
    </div>
</div>
</div>

